<div class="cats-form">
    <div class="cats-form-content">
        <h2>Cat Breeds Images</h2>
        <div class="main-block">
            <div class="cat-cards-container">
                <mat-card class="cat-card" *ngFor="let image of breedImages">
                    <mat-card-header>
                        <mat-card-title>{{image.name}}</mat-card-title>
                        <mat-card-subtitle>Cat Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="image.url" alt="Photo of a cat">
                    <mat-card-content>
                        <p>{{image.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button [href]="image.url" target="_blank">Full image</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="filter-container">
                <button mat-raised-button color="primary" class="filter-button" (click)="filterBreeds()">Apply
                    filter</button>
                <div class="limit-filter-container">
                    <h4>How many images (max):</h4>

                    <mat-slider [min]="minimumLimit" [max]="maximumLimit" [(ngModel)]="limitValue" step="1">
                    </mat-slider>
                    <span>{{ limitValue + ' images'}}</span>
                </div>
                <div class="tag-filter-container">
                    <h4>Filter by breed:</h4>
                    <mat-form-field appearance="fill">
                        <mat-label>Cat Breed</mat-label>
                        <mat-select [(ngModel)]="selectedBreedName" name="cat">
                            <mat-option value="All breeds">All breeds</mat-option>
                            <mat-option *ngFor="let breed of breeds" [value]="breed.name">
                                {{breed.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>                    
                </div>
            </div>
        </div>
    </div>
</div>